.displayItem {
	margin: 40px auto 0;
	width: 800px;
	/*position: static;*/
}

.listitems {
		width: 80px;
		height: 120px;
		margin: 0px 60px 20px 20px;
		text-align: center;
		font-size: .9em;
		font-weight: bold;
		line-height: 1.5em;
		display: inline-block;
		box-shadow: 5px 5px 5px #888888;
		position: relative;
		background-color: #F2CF5D;
		padding: 40px 20px 0px 20px;
		float: left;


}



.listitems a {
		text-decoration: none;
		color: #87643A;

}

.listitems a:hover {
	color: #ffffff;
}

.listitems p {
		display: block;
		background-color: #426B8C;
		position: absolute;
		/*bottom: 0px;*/
		right:0px;
		top:0px;
		width:100%;
		/*padding: 3px 5px 3px*/;
		font-size: .7em;
		color: #37BECC;
}


.listitems h5 {
		display: block;
		background-color: #0E3F6B;
		position: absolute;
		bottom: 0px;
		left:0px;
		width:100%;
		font-size: .7em;
		color: #37BECC;
}
