
#profile {
		width: 65%;
		margin-left: 60px;
		float: left;
}

#profile h1 {
		color: #49454A;
		font-weight: 400;
		text-align: left;
		font-size: 2.5em;
}

#profile h3 {
		color: #49454A;
		font-weight: 600;
		text-align: left;
		font-size: 1.2em;
		line-height: 2.5em;
}

/*#userdisplayitems{

}*/

#formright{
	margin-top: 60px;
	float:left;
}

#formright p{
	font-size: .8em;
	text-align: left;
	font-weight: 600;
}

#formright h3{
	text-align: left;
	font-weight: 700;
	line-height: 2em;
}



.itemrow {
	clear: left;
}
.userInventory {
		width: 60px;
		height: 60px;
		margin: 5px 5px 0px 0px;
		text-align: center;
		font-size: .75em;
		font-weight: bold;
		line-height: 1.5em;
		display: inline-block;
		box-shadow: 5px 5px 5px #888888;
		position: relative;
		background-color: #F2CF5D;
		padding: 20px;
		float: left;

}

.userInventory a {
		text-decoration: none;
		color: #87643A;

}

.userInventory a:hover {
	color: #ffffff;
}

.userInventory p {
		display: block;
		background-color: #426B8C;
		position: absolute;
		bottom: 0px;
		right:0px;
		bottom:0px;
		width:70px;
		/*padding: 3px 5px 3px*/;
		font-size: .7em;
		color: #37BECC;
}

input[type=text], select{
	width:100%;
	margin:8px 0 8px 0;
	padding: 5px;
	box-sizing: border-box;
	display: inline-block;
}

textarea {
    width: 100%;
    margin:8px 0 8px 0;
    box-sizing: border-box;
    height: 150px;
    resize: none;
}

input[type=button]{
	width:100%;
	margin:8px 0 8px 0;
	background-color: #10B7CC;
	padding: 5px;
	box-sizing: border-box;
	display: inline-block;
	font-weight: 600;
	border: none;
}